@import 'instagram.css';
@import 'rdio.css';
@import 'track.css';

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

html, body {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  background: #1a71a6 url(/img/bg.png) no-repeat 0 0;
  background-size: 100% 100%;
  color: white;
  font-family: 'myriad-pro', Helvetica, "Calibri", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.wrapper {
  margin: 0 auto;
  padding: 4em 0;
  width: 64em;
}

.wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  cursor: pointer;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0,0,0,.25);
  text-transform: uppercase;
}

h2 {
  font-size: 1.3em;
}

input[type=text],
input[type=text]:focus,
input[type=textarea],
input[type=textarea]:focus {
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 2em;
  color: rgba(150, 150, 150, 0.8);
  outline: none;
  padding: .75em 1.5em;
  width: 100%;
  font-size: 0.85em;
}

button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-size: .5em;
  line-height: 1.2;
  padding: 1em 2em;
  text-transform: uppercase;
}

button:hover {
  border-color: rgba(255, 255, 255, 0.8);
}

button.add, button.remove {
  border-radius: 9999em;
  color: white;
  font-size: 1em;
  font-weight: 300;
  height: 2em;
  line-height: 1;
  padding: 0;
  text-transform: none;
  width: 2em;
}

button.add {
  background-color: #008fd5;
  border: 1px solid #008fd5;
}

button.remove {
  background-color: transparent;
}

header {
  margin-bottom: 4em;
  position: relative;
}

header h1 {
  font-family: 'omnes-pro', 'gotham rounded', Helvetica, "Calibri", Arial, sans-serif !important;
}

header .about {
  left: 0;
  position: absolute;
  top: 0em;
}

header .add, header .remove {
  display: none;
  position: absolute;
  right: 0;
  top: 0em;
}

#content {
  position: relative;
}

/* Index */

.Index .Jamstagram {
  float: left;
  margin-bottom: 2em;
  text-align: center;
  width: 25%;
}

.Index .Jamstagram img {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: .75em;
  width: 85%;
}

.Index .Jamstagram h4, .Index .Jamstagram .creator {
  line-height: 1.5;
  text-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.Index .Jamstagram .creator {
  color: rgba(255, 255, 255, 0.5);
  font-size: .8em;
}

/* Create */

.Create h2 {
  color: rgba(100, 100, 100, 0.8);
  margin: 1.5em auto;
}

.Create h2 span {
  color: rgba(200, 200, 200, 0.8);
}

.Create .step {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  float: left;
  height: 32em;
  padding: 0 2em;
  position: relative;
  text-align: center;
  width: 32em;
}

.Create .step.one {
  background-image: url('/img/ig_placeholder.png');
  background-size: 100%;
  background-color: lightgray;
}

.Create .step.two {
  background-color: white;
}

.Create .step .number {
  background-color: #008fd5;
  border-radius: 9999em;
  height: 3em;
  line-height: 3em;
  margin: -1.5em auto 0 auto;
  position: relative;
  width: 3em;
  z-index: 2;
}

.Create .step .number.complete {
  background-image: url('/img/icon_check_green_48.png');
  background-size: 100%;
  color: transparent;
}

.Create .complete-dialog {
  background: rgba(0, 0, 0, 0.85);
  display: none;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.Create .complete-dialog .check {
  background-image: url('/img/icon_check_green_48.png');
  background-size: 100%;
  height: 48px;
  left: 488px;
  position: absolute;
  top: -24px;
  width: 48px;
}

.Create .complete-dialog .close {
  border: 0;
  box-shadow: none;
  color: white;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0.6em;
}

.Create .complete-dialog .content {
  margin: 0 auto;
  width: 60%;
}

.Create .complete-dialog .content h2 {
  color: white;
  margin: 3em 0 2em;
}

.Create .complete-dialog .content input {
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 2em;
}

.Create .complete-dialog .content input[type=textarea] {
  height: 8em;
}

.Create .complete-dialog .content input[type=submit] {
  background: #008fd5;
  border: 0;
  color: white;
  float: right;
  font-size: 18px;
  padding: 1em 3em;
}

/* Share */

.Share {
  width: 100%;
  height: 100%;
  height: 28em;
  padding: 0;
  background-color: rgba(0,0,0, .85)
}

.Share h2 {
  text-align: center;
  padding: 2em 0;
}

.Share .share-buttons, .Share .link {
  text-align: center;
  margin: 2em 0;
}

.Share .share-buttons div {
  display: inline-block;
  width: 250px;
  height: 70px;
  text-align: center;
}


.Share .share-buttons div > a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  height: 100%;
  padding-left: 80px;
  line-height: 70px;
}

.Share .share-buttons .twitter {
  background: url('../img/button_twitter.png') no-repeat;
  margin-right: .6em;
}

.Share .share-buttons .facebook {
  background: url('../img/button_facebook.png') no-repeat;
  margin-right: .6em;
}

.Share .share-buttons .email {
  background: url('../img/button_email.png') no-repeat;
}

.Share .share-buttons .email > a {
  color: black;
}

.Share .link {
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
  padding: 1.2em 1em;
  width: 50%;
  margin: 4em auto;
}

.Share .link .link-text {
  float: left;
  color: rgba(0,0,0,.4);
  font-size: 1.2em;
}

.Share .link .copy {
  float: right;
  color: rgba(0,0,0,.2);
  text-transform: uppercase;
}
