.Instagram .results {
  height: 20em;
  margin-top: 1em;
  overflow-y: scroll;
}

.Instagram .results img {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 0.5em;
  width: 20%;
}

.Instagram .photo-shield {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Instagram .photo-shield img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Instagram .photo-shield .remove {
  border: 0;
  box-shadow: none;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 2;
}

.Instagram .photo-shield .controls {
  background-image: url('/img/hover_overlay.png');
  bottom: 0;
  padding: 5em 0 1em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.Instagram .photo-shield .controls button {
  line-height: 1;
}

.Instagram .photo-shield .controls .select {
  background-image: url('/img/icon_confirm.png');
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  height: 26px;
  padding: 0;
  width: 26px;
}

.Instagram .photo-shield .controls .nav {
  background-position: center center;
  height: 26px;
  padding: 0;
  position: absolute;
  width: 26px;
}

.Instagram .photo-shield .controls .nav.next {
  background-image: url('/img/icon_next.png');
  right: 2.5em;
}

.Instagram .photo-shield .controls .nav.previous {
  background-image: url('/img/icon_prev.png');
  left: 2.5em;
}