<h2>Nice Jamstagram! Now, tell all your friends.</h2>
<div class="share-buttons">
  <div class="twitter"><a href="https://twitter.com/intent/tweet?text=I just made {{jamstagram name}} on @jamstagram. Go on, listen to it:&related=jamstagram&url={{jamstagram url}}">Twitter</a></div>
  <div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{jamstagram url}}">Facebook</a></div>
  <div class="email"><a href="mailto:?subject=I just made {{jamstagram name}} on Jamstagram.&body=I just made {{jamstagram name}} on Jamstagram. Go on, listen to it: {{jamstagram url}}">Email</a></div>
</div>
<div class="link clearfix">
  <div class="link-text">http://jamstagr.am/p/10409238730</div>
  <div class="copy">Copy</div>
</div>